@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 1100px;
}



.container {
    max-width: 1100px;
    margin: 0 auto;
}

.main-ph {
    background-image: url(img/back.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width:1512px;
    height:2215px;
    background:#ffff;
}

.header-line {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    color: rgba(18,18,18,0.75);
    text-decoration: none;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-right: 72px;
}

.line {
    border-bottom: 1px solid;
}

.header-down {
    background-image: url(img/back.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width:1512px;
    height:718px;
    padding-top: 10px;
    
} 

.header-title {
    color: rgba(18, 18, 18, 1);
    font-size: 48px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    margin-top: 252px;
    margin-left: 205px;

}

.header-subtitle {
    color: rgba(18, 18, 18, 1);
    font-size: 18px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    margin-bottom: 32px;
}

.button {
    color: rgba(18,18,18,1);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;

    background-color: rgba(255, 255, 255, 1);
    padding: 16px 15px;
    border-radius: 16px;
}

.list2-title {
    font-size: 48px;
    font-weight: 600;
    color: rgba(18, 18, 18, 1);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 89px;
}

.list2-subtitle {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: rgba(18, 18, 18, 0.75);
    padding-top: 25px;
}

/* frame */

.wr-title {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    color: rgba(18, 18, 18, 1);
}

.wr-subtitle {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: rgba(18, 18, 18, 0.75);
    margin-top: 20px;
}

.btn-wr {
    color: #ffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;

    background-color: rgba(18, 18, 18, 1);
    padding: 12.5px 30px;
    border-radius: 16px;
}

.wr-btn {
    margin-top: 72px;
}

.wr-text {
    margin-left: 70px;
    margin-top: 60px; 
}

.wr-border {
    background-color: rgba(241, 241, 241, 1);
    width: 550px;
    height: 502px;

    border-radius:  0 30px 30px 0;
}

.slider {
    animation: sliderAnimate 30s infinite ease;
    width: 2200px;
    height: 400px;
    clear: both;
    position: relative;
}

.slide-1, .slide-2{
    display: flex;
    border-radius: 30px;
    
}

.wrapper {
    margin-top: 60px;
}

.wr-ph {
    width: 550px;
    height: 502px;
    text-align: center;
}